.cite-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: @blue;
}

.cite-nav__item {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid @dark-blue;
  border-top: 1px solid @light-blue;

  a {
    color: @white;
    font-size: @title-size;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
  }

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;

    a {
      color: @blue-text;
    }
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 -2px 7px -1px @dark-blue;
  }
}

@media (min-width: @tablet-width) {
  .cite-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: @white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 3px;
  }

  .cite-nav__item {
    padding: 0;
    margin-right: 100px;
    border: none;

    a {
      font-size: @regular-size;
      color: @black;
    }

    &:first-child {
      margin-right: 78px;
    }

    &:last-child {
      box-shadow: none;
      margin-right: 0;
    }

    &:nth-child(2) {
      margin-right: 208px;
    }

    &:nth-child(3) {
      margin-right: 50px;
    }

    &:hover {
      background-color: @white;

      a {
        color: @blue;
      }
    }

    &:active a {
      color: @grey-links-down;
    }
  }

  .cite-nav__item--active {
    cursor: pointer;

    a {
      color: @brown;
    }

    &:hover a {
      color: @dark-brown;
    }

    &:active a {
      color: @light-brown;
    }
  }
}

@media (min-width: @desctop-width) {
  .cite-nav {
    display: flex;
    background-color: @white;
    padding-left: 91px;
    padding-top: 7px;
  }

  .cite-nav__item {
    &:first-child {
      margin-right: 162px;
    }

    &:nth-child(2) {
      margin-right: 383px;
    }

    &:nth-child(3) {
      margin-right: 136px;
    }
  }
}
