.cite-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: @blue;
}

.cite-nav__item {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid @dark-blue;
    border-top: 1px solid @light-blue;

    a {
      color: @white;
      font-size: @title-size;
      line-height: 40px;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .cite-nav__item:hover {
    background-color: @blue-hover;
  }

  .cite-nav__item:active {
    background-color: @blue-down;

    a {
      color: @blue-text;
    }
  }

  .cite-nav__item:last-child {
    border-bottom: none;
    box-shadow: inset 0 -2px 7px -1px @dark-blue;
  }

@media (min-width: @tablet-width) {
  .cite-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: @white;
    padding-top: 8px;
    padding-left: 1px;
  }

  .cite-nav__item:last-child {
    box-shadow: none;
    margin-right: 0;
  }

  .cite-nav__item:nth-child(2) {
    margin-right: 210px;
  }

  .cite-nav__item {
    width: 20%;
    padding: 0;
    margin-right: 45px;
    border: none;

    a {
      font-size: @regular-size;
      color: @black;
    }
  }

  .cite-nav__item:hover {
    background-color: @white;

    a {
      color: @blue;
    }
  }

  .cite-nav__item:active a {
    color: @grey-links-down;
  }

  .cite-nav__item--active {
    cursor: pointer;

    a {
      color: @brown;
    }
  }

  .cite-nav__item--active:hover a {
    color: @dark-brown;
  }

  .cite-nav__item--active:active a {
    color: @light-brown;
  }
}

@media (min-width: @desctop-width) {
  .cite-nav {
    display: flex;
    justify-content: space-between;
    background-color: @white;
  }

  .cite-nav__item {
    margin-right: 0;
  }
}
