.comments-form {
  min-height: 350px;
  border-bottom: none;

  &__input-label {
    font-size: @title-size;
    font-weight: bold;
  }

  &__field {
    font-size: @title-size;
    font-weight: bold;
    text-transform: none;
    padding-left: 22px;
    background-color: @grey-field;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .comments-form {
    width: 100%;

    &__field {
      width: 100%;
    }
  }
}
