.comments-form {
  border-bottom: none;
  
  &__input-label {
    font-size: @title-size;
    font-weight: bold;
  }
  
  &__field {
    font-size: @title-size;
    font-weight: bold;
    text-transform: none;
    padding-left: 22px;
    background-color: @grey-field;
    border: none;
  }
}
