.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.contacts__list {
  margin-bottom: 28px;
  margin-left: 83px;
}

.contacts__tag {
  font-size: 21px;
  font-weight: bold;
  margin-left: 91px;
  margin-bottom: 21px;
}

.contacts__developer {
  position: relative;
  font-size: @regular-size;
  margin-left: 95px;

  svg {
    position: absolute;
    left: 102px;
    top: -2px;
  }

  svg:hover {
    fill: @blue;
  }

  svg:active {
    fill: @grey-links-down;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 647px;
    margin: 0 auto;
    padding-top: 0;
  }

  .contacts__list {
    margin-left: 0;
    margin-right: 3px;
  }

  .contacts__tag {
    margin-left: 1px;
  }

  .contacts__developer {
    margin-left: 0;
    margin-right: 40px;

    svg {
      top: -5px;
    }
  }
}

@media (min-width: @desctop-width) {
  .contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0;
  }

  .contacts__tag {
    margin-left: 0;
    margin-right: 5px;
  }

  .contacts__developer {
    margin-right: 41px;
  }
}
