.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 29px;

  &__list {
    margin-bottom: 28px;
  }

  &__tag {
    font-size: 21px;
    font-weight: bold;
    margin-left: 91px;
    margin-bottom: 21px;
  }

  &__developer {
    position: relative;
    font-size: @regular-size;
    margin-left: 95px;

    svg {
      position: absolute;
      left: 102px;
      top: -2px;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    justify-content: space-around;
    align-items: baseline;
    max-width: 648px;
    margin: 0 auto;
    padding-top: 0;
  }
}

@media (min-width: @desctop-width) {
  .contacts {
    justify-content: space-around;
    align-items: baseline;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0;
  }
}
