.contacts-form {
  position: relative;
  padding: 0;
  padding-top: 24px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -21px;
    width: 320px;
    height: 1px;
    background-color: @grey-border;
  }
}

.contacts-form__label {
  font-size: @title-size;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.contacts-form__input {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;

  &--phone::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @grey-border;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--email::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @grey-border;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contacts-form__input-label {
  font-size: @regular-size;
  padding-left: 23px;
  display: block;
  margin-bottom: 6px;
}

.contacts-form__field {
  font-size: @title-size;
  font-weight: bold;
  width: 100%;
  height: 58px;
  padding-left: 22px;
  background-color: @grey-field;
  border: none;
  outline: none;

  &:hover {
    background-color: @grey-border;
  }

  &:active,
  &:focus {
    background-color: @white;
    outline: 4px solid @grey-main-decor;
  }
}



@media (min-width: @tablet-width) {
  .contacts-form {
    width: 100%;
    padding-top: 33px;

    &::after {
      display: none;
    }
  }

  .contacts-form__label {
    font-size: 21px;
    margin-bottom: 26px;
  }

  .contacts-form__input {
    margin-bottom: 24px;
  }

  .contacts-form__input-label {
    cursor: pointer;
  }
}

@media (min-width: @desctop-width) {
  .contacts-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts-form__label {
    width: 100%;
    margin-bottom: 74px;
  }

  .contacts-form__input {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }

  .contacts-form__input-label {
    padding-left: 0;
    margin-right: 16px;
  }

  .contacts-form__invis-desctop {
    display: none;
  }

  .contacts-form__field {
    width: 315px;
  }
}
