.error-window {
  width: 400px;
  height: 347px;
  text-align: center;
  padding: 30px;
  background-color: @white;
  box-shadow: 0 0 15px 0 @grey-shadow;
}

.error-window__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.error-window__description {
  font-size: @regular-size;
  line-height: @regular-line-height;
}

.error-window__button {
  width: 100%;
  height: 58px;
  padding: auto;
  font-size: 21px;
  font-weight: bold;
  border: none;
  color: @white;
  background-color: @blue;
}
