.introduce-form {
  &__label,
  &__field {
    font-size: @title-size;
    font-weight: bold;
  }
  &__input-label {
    font-size: @regular-size;
  }
}

.contacts-form {
  &__label,
  &__field {
    font-size: @title-size;
    font-weight: bold;
  }
  &__input-label {
    font-size: @regular-size;
  }
}

.impression-form {
  &__label {
    font-size: @title-size;
    font-weight: bold;
  }
  &__input-label {
    font-size: @title-size;
    text-transform: none;
    font-weight: bold;
  }
}

.sightseen-form {
  &__label {
    font-size: @title-size;
    font-weight: bold;
  }
  &__input-label {
    font-size: @title-size;
    text-transform: none;
    font-weight: bold;
  }
}

.comments-form {
  &__input-label {
    font-size: @title-size;
    font-weight: bold;
  }
  &__field {
    font-size: @title-size;
    font-weight: bold;
    text-transform: none;
  }
}

.feedback__button {
    font-size: 21px;
    color: @white;
    background-color: @blue;
    border: none;
  }
