.form {
  &__wrapper {
    text-align: center;
    border-bottom: 1px solid @grey-border;
    padding-bottom: 3px;
    margin-bottom: 18px;
  }

  &__title {
    font-size: @title-size;
    margin-bottom: 26px;
  }

  &__description {
    font-size: @regular-size;
    line-height: @regular-line-height;
  }
}

@media (min-width: @tablet-width) {
  .form {
    max-width: 648px;
    margin: 0 auto;

    &__wrapper {
      border-bottom: none;
    }
  }
}

@media (min-width: @desctop-width) {
  .form {
    max-width: 960px;
    margin: 0 auto;

    &__wrapper {
      border-bottom: none;
    }
  }
}
