.gallery {
  &__wrapper {
    border-bottom: 1px solid @grey-border;
  }
  &__title {
    font-size: @title-size;
  }
  &__description {
    font-size: @regular-size;
    line-height: @regular-line-height;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
  }
}
