.gallery {
  &__wrapper {
    text-align: center;
    min-height: 190px;
    border-bottom: 1px solid @grey-border;
  }

  &__title {
    font-size: @title-size;
  }

  &__description {
    width: 280px;
    margin: 0 auto;
    font-size: @regular-size;
    line-height: @regular-line-height;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    max-width: 648px;
    margin: 0 auto;

    &__wrapper {
      border-bottom: none;
    }

    &__description {
      width: 440px;
    }
  }
}

@media (min-width: @desctop-width) {
  .gallery {
    max-width: 960px;
    margin: 0 auto;

    &__wrapper {
      border-bottom: none;
    }

    &__description {
      width: 440px;
    }
  }
}
