.gallery {
  &__title {
    font-size: @title-size;
  }
  &__description {
    font-size: @regular-size;
  }
}

.gallery__list {
  list-style-type: none;
  padding-left: 0;
}

.pictures-list {
  &__name {
    font-size: @regular-size;
    font-weight: bold;
  }
  &__author {
    font-size: 12px;
    text-transform: none;
  }
}

.video-list {
  &__title {
    font-size: @title-size;
    font-weight: bold;
  }
  &__description {
    font-size: @regular-size;
  }
}
