.hotel-request {
  min-height: 287px;
  padding-top: 33px;
  text-align: center;

  &__title {
    font-size: 21px;
  }

  &__text {
    font-size: @regular-size;
    line-height: @regular-line-height;
  }

  &__link {
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: @white;
    background-color: @blue;
  }
}

@media (min-width: @tablet-width) {
  .hotel-request {
    height: 318px;

    &__wrapper {
      width: 462px;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desctop-width) {
  .hotel-request {
    height: 331px;
  }
}
