.impression-form {
  min-height: 288px;

  &__label {
    font-size: @title-size;
    font-weight: bold;
  }

  &__input-label {
    font-size: @title-size;
    text-transform: none;
    font-weight: bold;
  }
}

@media (min-width: @tablet-width) {
  .impression-form {
    width: 50%;
    border-right: 1px solid @grey-border;
    order: -1;
  }
}

@media (min-width: @desctop-width) {
  .impression-form {
    width: 50%;
  }
}
