.impression-form {
  position: relative;
  padding: 0;
  padding-top: 35px;

  &::after {
    content: "";
    position: absolute;
    bottom: -44px;
    left: -21px;
    width: 320px;
    height: 1px;
    background-color: @grey-border;
  }
}

.impression-form__label {
  font-size: @title-size;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 37px;
}

.impression-form__input {
  margin-bottom: 43px;
}

.impression-form__field {
  display: none;
}

.impression-form__input-label {
  position: relative;
  font-size: @title-size;
  text-transform: none;
  font-weight: bold;
  padding-left: 79px;

  &:hover::before {
    background-color: @grey-border;
  }

  &:active::before {
    background-color: @grey-main-decor;
  }

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: @grey-field;
  }
}

.impression-form__field:checked + .impression-form__input-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 17px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: @black;
}

.impression-form__field:checked + .impression-form__input-label:active::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .impression-form {
    padding-top: 0;
    padding-right: 51px;
    margin-right: 58px;
    order: -1;

    &::after {
      bottom: -47px;
      left: 0;
      width: 125px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: -1px;
      width: 1px;
      height: 293px;
      background-color: @grey-border;
    }
  }

  .impression-form__label {
    font-size: 21px;
    text-align: left;
    margin-bottom: 74px;
  }

  .impression-form__input {
    margin-bottom: 52px;
  }

  .impression-form__input-label {
    padding-left: 77px;
    cursor: pointer;
  }
}

@media (min-width: @desctop-width) {
  .impression-form {
    width: 50%;
    margin-right: 0;

    &::after {
      bottom: -46px;
      width: 279px;
    }
  }

  .impression-form__label {
    text-align: center;
    margin-bottom: 72px;
  }

  .impression-form__input-label {
    padding-left: 78px;

    &::before {
      left: 3px;
    }
  }

  .impression-form__field:checked + .impression-form__input-label::after {
    left: 21px;
  }
}
