@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    max-width: 648px;
    margin: 0 auto;

    &__open-button {
      display: none;
    }
  }
}

@media (min-width: @desctop-width) {
  .main-nav {
    display: flex;
    max-width: 960px;
    margin: 0 auto;

    &__open-button {
      display: none;
    }
  }
}
