.map {
  position: relative;
  padding-bottom: 385px;

  &__interactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 12px;
    padding-bottom: 357px;
  }
}
