.page-header {
  width: 100%;
  height: 279px;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 56px;
  }
}

@media (min-width: @desctop-width) {
  .page-header {
    height: 56px;
  }
}
