.page-main {
  width: 100%;
  margin-bottom: 49px;
}

.page-main__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @blue-bg;

  &--index {
    position: relative;
    height: 389px;
    padding-top: 90px;
    padding-left: 20px;
  }

  &--index::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -11px;
    width: 105%;
    height: 28px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--inner {
    height: 158px;
    padding: 52px;
  }

}

@media (min-width: @tablet-width) {
  .page-main__header {
    &--index {
      height: 518px;
      padding-top: 77px;
      padding-left: 155px;

      img {
        width: 460px;
        height: 350px;
      }
    }

    &--index::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 29px;
      width: 92.5%;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--index::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -15px;
      width: 105%;
      height: 50px;
      background-image: url("../img/bg-intro-triangle-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--inner {
      height: 290px;
      padding-top: 95px;
      padding-left: 155px;

      img {
        width: 460px;
        height: 78px;
      }
    }
  }
}

@media (min-width: @desctop-width) {
  .page-main__header {
    &--index {
      height: 518px;
      padding-top: 77px;
      padding-left: 370px;

      img {
        width: 460px;
        height: 350px;
      }
    }

    &--inner {
      height: 290px;
      padding-top: 95px;
      padding-left: 370px;

      img {
        width: 460px;
        height: 78px;
      }
    }
  }
}
