.page-main {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid @black;
}

.page-main__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 60% 83%;

  &--inner {
    height: 158px;
    padding: 52px;
  }

  &--index {
    padding: 20px;
  }
}
