.page-header {
  background-color: @white;
  width: 100%;
  padding-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 56px;
  }
}

@media (min-width: @desctop-width) {
  .page-header {
    height: 56px;

    &__logo-img {
       width: 186.643px;
       height: 96.425px;
    }
  }
}
