.pictures-list {
  &__name {
    font-size: @regular-size;
    font-weight: bold;
  }
  &__author {
    font-size: 12px;
    text-transform: none;
  }
  &__item {
    border-bottom: 1px solid @grey-border;
    padding-top: 20px;
  }
  &__likes {
    padding-left: 55px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
}
