.pictures-list {
  &__name {
    font-size: @regular-size;
    font-weight: bold;
    line-height: @regular-line-height;
  }

  &__author {
    font-size: @regular-size;
    line-height: 24px;
    text-transform: none;
  }

  &__item {
    border-bottom: 1px solid @grey-border;
    padding-top: 20px;
  }

  &__likes {
    padding-left: 55px;
    font-size: @regular-size;
    line-height: @regular-line-height;
    font-weight: bold;
  }
}
