.reasons {
  &__title {
    font-size: @title-size;
  }
  &__intro {
    font-size: @regular-size;
  }
}

.reasons-list {
  list-style-type: none;
  padding-left: 0;
  &__title,
  &__add-info-title {
    font-size: @title-size;
  }
  &__number,
  &__description {
    font-size: @regular-size;
  }
}

.reasons-list__item {
  background-color: @light-grey;
  &--bg-blue {
    background-color: @blue;
    color: @white;
  }
  &--add-info {
    background-color: @white;
  }
}
