.reasons-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__text {
    width: 275px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 21px;
    line-height: 10px;
  }

  &__number,
  &__description {
    font-size: @regular-size;
    line-height: 21px;
  }

  &__add-info-title {
    font-size: @title-size;
  }

  &__add-info-description {
    font-size: @regular-size;
    line-height: 21px;
  }
}

.reasons-list__item {
  &--bg-grey {
    min-height: 168px;
    text-align: center;
    background-color: @grey;
  }

  &--bg-blue {
    height: 450px;
    color: @white;
    background-color: @blue;
  }

  &--add-info {
    background-color: @white;
    padding-left: 70px;
  }
}
