.reasons-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__text {
    width: 275px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 21px;
    line-height: 10px;
  }

  &__number,
  &__description {
    font-size: @regular-size;
    line-height: 21px;
  }

  &__add-info-title {
    font-size: @title-size;
  }

  &__add-info-description {
    font-size: @regular-size;
    line-height: 21px;
  }
}

.reasons-list__item {
  &--bg-grey {
    min-height: 168px;
    text-align: center;
    background-color: @grey;
  }

  &--bg-blue {
    height: 450px;
    color: @white;
    background-color: @blue;
  }

  &--add-info {
    background-color: @white;
    padding-left: 70px;
  }
}

@media (min-width: @tablet-width) {
  .reasons-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
      width: 170px;
      padding-top: 10px;
    }

    &__title {
      line-height: 26px;
    }

    &__img--bridge {
      order: -1;
    }
  }

  .reasons-list__item {
    &--bg-grey {
      width: 256px;
      height: 256px;
      padding-top: 30px;
      padding-left: 54px;
      padding-right: 53px;
    }

    &--bg-blue {
      display: flex;
      width: 100%;
      height: 256px;
    }

    &--add-info {
      background-color: @white;
      width: 170px;
      height: 330px;
      padding-left: 0;
    }
  }
}
