body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: @black;
  line-height: 26px;
  background-color: @grey-field;
  min-width: 320px;
}

@media (min-width: @tablet-width) {
  body {
    min-width: @tablet-width;
  }
}

@media (min-width: @desctop-width) {
  body {
    min-width: @desctop-width;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
