@black: #000000;

@blue: #81b3d2;
@dark-blue: #678fa8;
@light-blue: #9ac2db;
@blue-bg: #84b6d1;
@light-blue-btn: #c0d9e8;
@blue-hover: #669ec0;
@blue-down: #5496bd;
@blue-text: #88b6d1;

@brown: #766357;
@dark-brown: #604e43;
@light-brown: #d8d3d0;

@grey: #eeeeee;
@grey-border: #e5e5e5;
@grey-field: #f2f2f2;
@grey-gallery: #eaeaea;
@grey-shadow: #dbdbdb;
@grey-icons: #5c6870;
@grey-links-down: #b2b2b2;
@grey-main-decor: #d6d6d6;

@white: #ffffff;

@title-size: 18px;
@regular-size: 14px;

@regular-line-height: 24px;

@tablet-width: 768px;
@desctop-width: 1200px;
